<h1>Welcome to our Vacation Blog!</h1>

<p>This site lists all our favorite vacation spots</p>

<ul>
  {{#each model as |vacation|}}
    {{vacation-tile vacation=vacation}}
  {{/each}}
</ul>

{{#link-to 'about'}}About{{/link-to}}
