<h2>More information about {{model.traveler}}'s vacation</h2>

{{update-vacation vacation=model update="update"}}

{{vacation-detail vacation=model destroyVacation="destroyVacation" destroyComment="destroyComment"}}

{{new-comment saveComment="saveComment" vacation=model}}
